body {
  background:#fff4ff;
  color:#403227;
  margin: 3em;
  font-family: 'Ovo', serif;
}
h1,
h2,
nav,
a.back-to-intro,
footer {
  font-family: 'Marcellus SC', serif;
}
figcaption {
  font-family: 'Galdeano', sans-serif;
}
/*cultivar images*/
div > ul {
  list-style: none;
}
