body {
  background:#fff4ff;
  color:#403227;
  margin: 3em;
}
h1, h2, h3, h4,
p.img-cap,
ul.content-table,
p.main-article,
caption,
p.further-info,
footer p,
a.contents {
  font-family: 'Marcellus SC', serif;
}
h1 {
  font-size: 2.45em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
ul.genera-list {
  font-size: 1.05em;
}
p.img-cap,
p.main-article,
caption,
p.further-info,
td {
  font-family: 'Galdeano', sans-serif;
  font-size: 0.95em;
  line-height: 1.7;
}
p, summary.contents, ul.content-list li, ul.genera-list {
  font-family: 'Ovo', serif;
  font-size: 1.125em;
  line-height: 1.5;
}
ul.content-table li a, footer p {
  font-size: 0.95em;
  text-decoration: none;
}
a:visited {
  color:#3a1032;
}
a:link {
  color:#80246d; 
}
a:hover, ul.content-table li a:hover {
  text-decoration:underline;
}
a:active {
  color: #403227;
}
::selection {
  background:#403227;
  color: #ececec;
}
::-moz-selection {
  background:#ffe1fe;
  color: #ececec;
}
ul.cultivars li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
